<!DOCTYPE html>
{%extends "TestApp/base.html" %}
{%block title_block%}About{%endblock%}
{%block body_block%}
<div class="container">
<h2 class="one">About Us</h2>
<div id="test4">
<p>Parimal Store offers machinery related products.Categories of products available here are:-
  <div id="test5">
   <ul>
     <li>Machinery parts such as gear, bearing, valve, elements, filter, cutter etc;</li>
<li>Lubricating materials like gear oil,engine oil,grease etc;</li>
 <li>Plastic and rubber materials like pipe, oil seal etc, and many more items related to these categories.</li>
 </ul>
 </div>
Here we take care of quality,price and brand of products and make our quality products available to our customers at a reasonable price.
From 10 years we have experienced a lot to fulfill our customer's requirement and now gained an expertise in this field.We value customer satisfaction
and our utimate goal is to win heart of customers and we have achieved this from past many years.
We want that you are provided with the best product and therefore we welcome you at our store with open arms.</p>
</div>
</div>
{%endblock%}
