<!DOCTYPE html>
{%extends "TestApp/base.html" %}
{%block title_block%}Terms & Conditions{%endblock%}
{%block body_block%}
<div class="container">
<h2 class="one">Terms And Conditions</h2>
<div class="test7">
<p><b>Welcome to Parimal Store!</b></p>
<p>These terms and conditions outline the rules and regulations for the use of <b>Parimal Store Website.</b> By accessing this website we assume you accept these terms and conditions. Do not continue to use <b>Parimal Store</b> if you do not agree to take all of the terms and conditions stated on this page. The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
</div>
</div>
{%endblock%}
